<md-card>
    <md-card-header>
        <md-card-title>
            <h2>Nuovo impegno</h2>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around center" fxLayoutGap="20px" fxFlex="70%">
                <md-input-container fxFlex="80%">
                    <input mdInput placeholder='Descrizione'>
                </md-input-container>
				<div fxLayout="column" fxLayoutAlign="end center">
                    <label>Priorità</label>
					<div fxLayout="row" fxLayoutAlign="space-around center">
						<md-icon>snooze</md-icon>
						<md-slider fxFlex="20%" [max]="prioritySlider.max" [min]="prioritySlider.min" [step]="prioritySlider.step" [value]="priority" thumbLabel tick-interval></md-slider>
						<md-icon>priority_high</md-icon>
					</div>
                </div>
            </div>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around center" fxLayoutGap="20px">
                <div fxLayout="column" fxLayoutAlign="space-around" class="em-margin-bottom">
                    <label>Data impegno</label>
                    <material-datepicker [(date)]="taskDate"></material-datepicker>
                </div>
				<md-select class="em-margin-bottom" placeholder="Cadenza" [(ngModel)]="frequency" name="frequency">
                    <md-option *ngFor="let freq of frequencyList" [value]="freq.value">
                        {{freq.viewValue}}
                    </md-option>
                </md-select>
                <button class="em-margin-bottom" md-fab (click)='add()'>
                    <md-icon>note_add</md-icon>
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
		<md-list>
		  <md-list-item *ngFor='let task of tasks'>
			<md-icon md-list-icon>priority_high</md-icon>
			<h3 md-line>{{task.description}}</h3>
			<p md-line>
			  <span> {{task.taskDate}} </span>
			  <span> -- {{task.frequency}} </span>
			</p>
		  </md-list-item>
		</md-list>      
    </md-card-content>
</md-card>
