<h2>Impegni</h2>
<div>
    <form action="">
        <input type="radio" [(ngModel)]="frequency" name="frequency" value="once">Una tantum
        <br>
        <input type="radio" [(ngModel)]="frequency" name="frequency" value="daily">Giorno
        <br>
        <input type="radio" [(ngModel)]="frequency" name="frequency" value="weekly">Settimana
        <br>
        <input type="radio" [(ngModel)]="frequency" name="frequency" value="monthly">Mese
    </form>	
    <span>Frequenza: {{frequency}}</span>	
</div>
<div>
    <label>Descrizione</label>
	<input #taskDescription />
	<label>Frequenza</label>
    <input #taskFrequency />
	<label>Priorità:</label>
    <input #taskPriority />
	<label>Giorno:</label>
    <input #taskDate />
    <button (click)="add();">
        Add
    </button>
</div>
<ul class="tasks">
    <li *ngFor="let task of tasks" (click)="onSelect(task)" [class.selected]="hero === selectedHero">
        <!--<span class="badge">{{task._id}}</span>-->
        <span>{{task.description}}</span>
        <span>{{task.frequency}}</span>
        <span>{{task.taskDate}}</span>
        <span>{{task.priority}}</span><span>{{task.doneDate}}</span>
    </li>
</ul>
