<md-card *ngIf="task">
    <md-card-header>
        <md-card-title>
            <h2>Nuovo impegno</h2>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around center" fxLayoutGap="20px" fxFlex="70%">
                <md-input-container fxFlex="80%">
                    <input mdInput placeholder='Descrizione' [(ngModel)]="task.description">
                </md-input-container>
                <div fxLayout="column" fxLayoutAlign="end center">
                    <label>Priorità</label>
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                        <md-icon>snooze</md-icon>
                        <md-slider fxFlex="20%" [max]="prioritySlider.max" [min]="prioritySlider.min" [step]="prioritySlider.step" [value]="task.priority" thumbLabel tick-interval></md-slider>
                        <md-icon>priority_high</md-icon>
                    </div>
                </div>
            </div>
            <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around end" fxLayoutAlign.xs="space-around center" fxLayoutGap="20px">
                <div fxLayout="column" fxLayoutAlign="space-around" class="em-margin-bottom">
                    <label>Data impegno:</label>
                    <material-datepicker [(date)]="task.taskDate"></material-datepicker>
                </div>
                <md-select class="em-margin-bottom" placeholder="Cadenza" [(ngModel)]="task.frequency" name="frequency">
                    <md-option *ngFor="let freq of frequencyList" [value]="freq.value">
                        {{freq.viewValue}}
                    </md-option>
                </md-select>
                <button class="em-margin-bottom" md-fab (click)='add()'>
                    <md-icon>note_add</md-icon>
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>
