<task-detail [task]="selectedTask" [taskList]="this">
</task-detail>
<md-card>
    <md-card-content>
        <md-list dense>
            <md-list-item *ngFor='let task of tasks' (click)="selectTask(task)" [class.active]="task === selectedTask">
				<md-icon md-list-icon *ngIf='task.priority==1'>snooze</md-icon>
				<md-icon md-list-icon *ngIf='task.priority==2'>note</md-icon>
                <md-icon md-list-icon *ngIf='task.priority==3'>priority_high</md-icon>
                <h2 md-line>{{task.description}}</h2>
                <p md-line>
                    <span> {{task.taskDate | date:'yyyy-MM-dd'}} </span>
                    <span> -- {{task.frequency}} -- {{task.priority}}</span>
                </p>
				<button md-mini-fab color='primary'>
                    <md-icon>check</md-icon>
                </button>
				<button md-mini-fab color='accent'>
                    <md-icon>edit</md-icon>
                </button>
				<button md-mini-fab color='warn'>
                    <md-icon>delete</md-icon>
                </button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
