<task-form [taskObserver]="taskForm.asObservable()" (taskUpdated)="taskUpdated($event)" (taskCreated)="taskCreated($event)">
</task-form>
<div fxLayout.gt-sm="row" fxLayout.lt-md="column">
    <div fxFlex.gt-sm='50%' *ngFor='let list of lists'>
        <md-card>
            <md-card-content>
                <h2>{{list.title}}</h2>
                <div class="list-item" *ngFor='let task of taskLists[list.list]'>
					<div fxLayout="row">
						<div fxFlex='40px' fxLayoutAlign='start center'>
							<md-checkbox *ngIf="list.list=='todo'" (click)='checkTask(task)'></md-checkbox>
							<md-checkbox [checked]="true" *ngIf="list.list=='done'" (click)='uncheckTask(task)'></md-checkbox>
						</div>
						<div fxFlex='calc(100%-150px)'>
							<div *ngIf="!task.showFull" class="description-wrapped description">{{task.description}}</div>
							<div *ngIf="task.showFull" class="description">{{task.description}}</div>
						</div>
						<div fxFlex='80px' fxLayout='row' fxLayoutAlign='center center' *ngIf="task.showFull">
							<md-icon color='primary' class='noselect' (click)='taskForm.next(task)' aria-label="Modifica">edit</md-icon>
							&nbsp;&nbsp;
							<md-icon color='warn' class='noselect' (click)='deleteTask(task)' aria-label="Elimina">delete</md-icon>
						</div>	
						<md-icon *ngIf="!task.showFull" class='noselect' (click)="task.showFull=!task.showFull">expand_more</md-icon>
						<md-icon *ngIf="task.showFull" class='noselect' (click)="task.showFull=!task.showFull">expand_less</md-icon>						
					</div>
					<div class='date-row' fxFlexOffset='40px'>
						<md-icon class='date-icon'>assignment</md-icon> {{task.taskDate | date:'yyyy-MM-dd' | frequency: task.frequency}} &nbsp;&nbsp;&nbsp; <span *ngIf='task.doneDate'><md-icon class='date-icon'>assignment_turned_in</md-icon> {{task.doneDate | date:'yyyy-MM-dd'}}</span>
					</div>
				</div>
            </md-card-content>
        </md-card>
    </div>
</div>
