<task-form [actionToPerform]="taskForm.actionToPerform" [task]="taskForm.task" (taskUpdated)="taskUpdated($event)">>
</task-form>
<div fxLayout="row">
	<div fxFlex='50%'>
		<md-card>
			<md-card-content>
				<h2>Da fare</h2>
				<div fxLayout="row" class="list-task" *ngFor='let task of taskLists.todo'>
					<div fxFlex='40px'><md-checkbox md-list-icon [(ngModel)]="task.checked"></md-checkbox></div>
					<div fxFlex='calc(100%-40px)' fxLayout="column">
						<div (click)="task.showFull=!task.showFull">
							<div *ngIf="!task.showFull" class="description-wrapped description">{{task.description}}</div>
							<div *ngIf="task.showFull" class="description">{{task.description}}</div>
							<div class='date-row'><md-icon class='date-icon'>assignment</md-icon> {{task.taskDate | date:'yyyy-MM-dd'}} &nbsp;&nbsp;&nbsp; <span *ngIf='task.doneDate'><md-icon class='date-icon'>assignment_turned_in</md-icon> {{task.doneDate | date:'yyyy-MM-dd'}}</span></div>
						</div>
						<div *ngIf="task.showFull" style="text-align: center;">
							<button md-icon-button><md-icon color='primary'>edit</md-icon></button>
							<button md-icon-button><md-icon color='warn'>delete</md-icon></button>		
						</div>
					</div>				
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div fxFlex='50%'>
		<md-card>
			<md-card-content>	  
				<h2>Fatti</h2>
				<div fxLayout="row" class="list-task" *ngFor='let task of taskLists.done'>
					<div fxFlex='40px'><md-checkbox md-list-icon [(ngModel)]="task.checked"></md-checkbox></div>
					<div fxFlex='calc(100%-40px)' fxLayout="column">
						<div (click)="task.showFull=!task.showFull">
							<div *ngIf="!task.showFull" class="description-wrapped description">{{task.description}}</div>
							<div *ngIf="task.showFull" class="description">{{task.description}}</div>
							<div class='date-row'><md-icon class='date-icon'>assignment</md-icon> {{task.todoDate}} &nbsp;&nbsp;&nbsp; <md-icon class='date-icon'>assignment_turned_in</md-icon> {{task.doneDate}}</div>
						</div>
						<div *ngIf="task.showFull" style="text-align: center;">
							<button md-icon-button><md-icon color='primary'>edit</md-icon></button>
							<button md-icon-button><md-icon color='warn'>delete</md-icon></button>		
						</div>
					</div>				
				</div>
			</md-card-content>
		</md-card>
	</div>
</div>