.description-wrapped {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    font-size: 18px;
    font-weight: 400;
    overflow-wrap: break-word;	
}

.list-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.date-icon {
    vertical-align: middle;
}

.date-row {
    color: dimgray;
}
