<div fxLayoutAlign="center">
    <md-card class="loginCard" fxFlex="grow">
        <md-card-content>
            <div class="cardTitle">Accedi</div>
            <form name="form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm">
                <div fxLayout="column">
                    <md-input-container>
                        <input autofocus name='username' type='text' required mdInput placeholder='Username' [(ngModel)]="member.username"/>
                    </md-input-container>
                    <md-input-container>
                        <input name='password' type='password' required mdInput placeholder='Password' [(ngModel)]="member.password "/>
                    </md-input-container>
                    <button fxFlexAlign="center" color="accent" md-fab [disabled]="loading">Login</button>
					<button fxFlexAlign="center" style="margin: 10px;" (click)='testerLogin()' color="primary" md-raised-button [disabled]="loading">Accedi come tester</button>
                    <div class="report">
                        <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
                        <div *ngIf='message' class="message">{{message}}</div>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
