<task-form [actionToPerform]="taskForm.actionToPerform" [task]="taskForm.task" (taskUpdated)="taskUpdated($event)">>
</task-form>
<md-card *ngFor='let table of tables'>
    <md-card-header>
        <button md-mini-fab md-card-avatar>
            <md-icon>{{table.tableIcon}}</md-icon>
        </button>
        <div class='cardTitle'>{{table.title}}</div>
    </md-card-header>
    <md-card-content>
        <table class='taskTable'>
            <thead>
                <tr>
                    <th></th>
                    <th fxFlexFill class='description'>Descrizione</th>
                    <th>Compleato</th>
                    <th>Data</th>
                    <th>Periodicità</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let task of tasks | taskFilter:"dashboard" | taskFilter:table.filter'>
                    <td>
                        <md-icon *ngIf='task.priority==1'>snooze</md-icon>
                        <md-icon *ngIf='task.priority==2'>note</md-icon>
                        <md-icon *ngIf='task.priority==3'>priority_high</md-icon>
                    </td>
                    <td class='description'>{{task.description}}</td>
                    <td>{{task.doneDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{task.taskDate | date:'yyyy-MM-dd'}}</td>
                    <td>{{frequencyMap[task.frequency]}}</td>
                    <td>
                        <button md-mini-fab color='primary' (click)='checkTask(task)'>
                            <md-icon>{{table.buttonIcon}}</md-icon>
                        </button>
                    </td>
                    <td>
                        <button md-mini-fab color='accent' (click)='editTask(task)'>
                            <md-icon>edit</md-icon>
                        </button>
                    </td>
                    <td>
                        <button md-mini-fab color='warn' (click)='deleteTask(task)'>
                            <md-icon>delete</md-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>
