<md-card *ngIf="task">
    <md-card-content>
        <form #taskForm="ngForm">
            <div fxLayoutWrap="nowrap" fxLayoutWrap.lt-md="wrap" fxLayoutAlign="space-around end" fxLayoutGap="20px">
                <md-input-container fxFlex="grow">
                    <input name='description' type='text' mdInput placeholder='Descrizione impegno' [(ngModel)]="task.description">
                </md-input-container>	
				<md-input-container class="formField">
					<input mdInput [mdDatepicker]="picker" placeholder="Data impegno" name='taskDate' (click)='picker.open()' [(ngModel)]="task.taskDate">
					<button mdSuffix [mdDatepickerToggle]="picker"></button>
				</md-input-container>
				<md-datepicker #picker></md-datepicker>			
                <md-select name='frequency' class="em-margin-bottom formField" placeholder="Cadenza" [(ngModel)]="task.frequency">
                    <md-option *ngFor="let freq of frequencyList" [value]="freq.value">
                        {{freq.viewValue}}
                    </md-option>
                </md-select>	
				<md-select name='priority' class="em-margin-bottom formField" placeholder="Priorità" [(ngModel)]="task.priority">
                    <md-option *ngFor="let prior of priorityList" [value]="prior.value">
                        {{prior.viewValue}}
                    </md-option>
                </md-select>				
                <div fxLayout="row" fxLayoutGap="10px">
                    <button *ngIf='actionToPerform=="create"' class="em-margin-bottom" md-fab color='primary' (click)='createTask();' [disabled]="!taskForm.form.valid">
                        <md-icon>note_add</md-icon>
                    </button>
                    <button *ngIf='actionToPerform=="update"' class="em-margin-bottom" md-fab color='primary' (click)='updateTask()' [disabled]="!taskForm.form.valid">
                        <md-icon>edit</md-icon>
                    </button>
                    <button *ngIf='actionToPerform=="update"' class="em-margin-bottom" md-fab color='warn' (click)='cancelUpdate()'>
                        <md-icon>cancel</md-icon>
                    </button>
                </div>
            </div>
        </form>
    </md-card-content>
</md-card>
